$bg-color-1: #FFFFFF;
$bg-color-2: #FFFFFF4D;
$bg-color-3: #FFFFFF80;
$bg-color-4: #FFFFFF26;
$bg-color-5: #FCFCFC;
$bg-color-6: #F7FDFF;
$bg-color-7: #F8F9F9;
$bg-color-8: #F2F8FC;
$bg-color-9: #FFD740;
$bg-color-10: #9CE0FF;
$bg-color-11: #40C4FF;
$bg-color-12: #EF2853;
$bg-color-13: #EE2852;
$bg-color-14: #30303066;
$bg-color-15: #222222;
$bg-color-16: #0707071A;
$bg-color-17: #00000026;



$text-color-1: #FFFFFF;
$text-color-2: #FFFFFFCC;
$text-color-3: #FBFBFC;
$text-color-4: #CECECE;
$text-color-5: #B9B9B9;
$text-color-6: #40C4FF;
$text-color-7: #ABABAB;
$text-color-8: #A6A6A6;
$text-color-9: #55ACEE;
$text-color-10: #959595;
$text-color-11: #92919C;
$text-color-12: #898989;
$text-color-13: #808080;
$text-color-14: #DC4D40;
$text-color-15: #847B7B;
$text-color-16: #606264;
$text-color-17: #3B5998;
$text-color-18: #595959;
$text-color-19: #545454;
$text-color-20: #3E3E3E;
$text-color-21: #373838;
$text-color-22: #303030;
$text-color-23: #000000;



$fill-color-1: #ffffff;
$fill-color-2: #EE2852;
$fill-color-3: #000000;



$border-colors-1: #F2F2F2;
$border-colors-2: #EFEFEF;
$border-colors-3: #D6F2FF;
$border-colors-4: #EBEBEB;
$border-colors-5: #EAEBEB;
$border-colors-6: #E5E5E5;
$border-colors-7: #40C4FF;
$border-colors-8: #484848CC;