header,
footer{
    background-color: black;
    color: white;
}

footer .col{
    background-color: blue;
}

main>.my_icons-container .my_icon-container{
    background-color: grey;
}

#testimonials{
    background-color: blue;
}